@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="display-4">
    <strong>@ViewBag.Fiyat - TL</strong>
     Tutarındaki  Satın Alma İşleminiz Başarılı.Bizi Tercih Ettiniz İçin Teşekkür Ederiz.

    <p>

        <a asp-action="Index"  asp-controller="Home" class="btn btn-success">Geri Dön</a>

    </p>

</div>