<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-danger">
        <div class="container">
            <a class="navbar-brand" href="#">Core Project - Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"asp-controller="Home" asp-area="Admin">Ürün İşlemleri <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Kategori" asp-area="Admin">Kategori İşlemleri <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Çıkış Yap<span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>


    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/jquery/jquery.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("JavaScript", false)
    @*Gerekli validatşon uyarılarına takılması için section ekledik ekle.cshtml de section ile çağırarak script dosyalarını ekleyeceğiz*@
</body>
</html>
